# dependencies
node_modules/

# env files
.env
.env.*

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build files
dist/
dist-ssr/

# local files
*.local

# editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# misc
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# vite
.vite/

# optional (your choice)
# docs/
docs/