# dependencies
node_modules/

# env files
.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build files
dist/
frontend/dist/

# local files
*.local

# editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# misc
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln